@custom-variant dark (&:where(.dark .dark *));

@theme {
  /* --color-primary-100: #e0e0fc;
  --color-primary-200: #c1c2f9;
  --color-primary-300: #a1a3f7;
  --color-primary-400: #8285f4;
  --color-primary-500: #6366f1;
  --color-primary-600: #4f52c1;
  --color-primary-700: #3b3d91;
  --color-primary-800: #282960;
  --color-primary-900: #141430;

  --color-secondary-100: #d3f6fc;
  --color-secondary-200: #a7edf8;
  --color-secondary-300: #7ae5f5;
  --color-secondary-400: #4edcf1;
  --color-secondary-500: #22d3ee;
  --color-secondary-600: #1ba9be;
  --color-secondary-700: #147f8f;
  --color-secondary-800: #0e545f;
  --color-secondary-900: #072a30; */

  --color-primary-100: #d4d4df;
  --color-primary-200: #a9a9bf;
  --color-primary-300: #7e7fa0;
  --color-primary-400: #535480;
  --color-primary-500: #282960;
  --color-primary-600: #20214d;
  --color-primary-700: #18193a;
  --color-primary-800: #101026;
  --color-primary-900: #080813;

  --color-secondary-100: #d3f6fc;
  --color-secondary-200: #a7edf8;
  --color-secondary-300: #7ae5f5;
  --color-secondary-400: #4edcf1;
  --color-secondary-500: #22d3ee;
  --color-secondary-600: #1ba9be;
  --color-secondary-700: #147f8f;
  --color-secondary-800: #0e545f;
  --color-secondary-900: #072a30;

  /* cyan */
  /* slate */
}

[data-theme='indigo-violet'] {
  --color-primary-100: #d4d4df;
  --color-primary-200: #a9a9bf;
  --color-primary-300: #7e7fa0;
  --color-primary-400: #535480;
  --color-primary-500: #282960;
  --color-primary-600: #20214d;
  --color-primary-700: #18193a;
  --color-primary-800: #101026;
  --color-primary-900: #080813;

  --color-secondary-100: #d3f6fc;
  --color-secondary-200: #a7edf8;
  --color-secondary-300: #7ae5f5;
  --color-secondary-400: #4edcf1;
  --color-secondary-500: #22d3ee;
  --color-secondary-600: #1ba9be;
  --color-secondary-700: #147f8f;
  --color-secondary-800: #0e545f;
  --color-secondary-900: #072a30;

  /* slate */
}

/* 
  --color-secondary-100: #cfd1d4;
  --color-secondary-200: #9fa3a9;
  --color-secondary-300: #70747e;
  --color-secondary-400: #404653;
  --color-secondary-500: #101828;
  --color-secondary-600: #0d1320;
  --color-secondary-700: #0a0e18;
  --color-secondary-800: #060a10;
  --color-secondary-900: #030508;
*/
[data-theme='purple'] {
  --color-primary-100: #e8defd;
  --color-primary-200: #d1befb;
  --color-primary-300: #b99dfa;
  --color-primary-400: #a27df8;
  --color-primary-500: #8b5cf6;
  --color-primary-600: #6f4ac5;
  --color-primary-700: #533794;
  --color-primary-800: #382562;
  --color-primary-900: #1c1231;
}

[data-theme='teal'] {
  --color-primary-100: #d3f6fc;
  --color-primary-200: #a7edf8;
  --color-primary-300: #7ae5f5;
  --color-primary-400: #4edcf1;
  --color-primary-500: #22d3ee;
  --color-primary-600: #1ba9be;
  --color-primary-700: #147f8f;
  --color-primary-800: #0e545f;
  --color-primary-900: #072a30;
}
[data-theme='rose'] {
  --color-primary-100: #fdd9df;
  --color-primary-200: #fbb2bf;
  --color-primary-300: #f88c9e;
  --color-primary-400: #f6657e;
  --color-primary-500: #f43f5e;
  --color-primary-600: #c3324b;
  --color-primary-700: #922638;
  --color-primary-800: #621926;
  --color-primary-900: #310d13;
}
[data-theme='amber'] {
  --color-primary-100: #fbdece;
  --color-primary-200: #f7bc9e;
  --color-primary-300: #f29b6d;
  --color-primary-400: #ee793d;
  --color-primary-500: #ea580c;
  --color-primary-600: #bb460a;
  --color-primary-700: #8c3507;
  --color-primary-800: #5e2305;
  --color-primary-900: #2f1202;
}
